@charset "utf-8";

@import url("share/default.css");
@import url("share/fonts.css");

/* Clearfix
=================================*/

.tab:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}

.tab {
	display: inline-block;
}

/* Hide from Mac IE \*/
.tab {
	display: block;
}
* html .tab {
	height: 1%;
}
/* Hide from Mac IE */

/* =========================================
*  COMMON
* ========================================= */

html {
	height: 100%;
}

body {
	padding: 1em;
	height: 100%;
}

h1 {
	border: solid #93af72 1px;
	border-left-width: 5px;
	border-top: none;
	border-right: none;
	padding: 0 0 .3em .4em;
	font-size: 116%;
	font-weight: normal;
}
h1:first-letter {
	color: #93af72;
}

	h1 a {
		border-bottom: dotted #93af72 1px;
		text-decoration: none;
	}

a {
	color: #93af72;
}

a:hover {
	border: none;
	text-decoration: none;
}

div.sctble_mat {
	font-size: 93%;
}

/* =========================================
*  FRAME
* ========================================= */

p#skin {
	margin-top: 1em;
}

div.tabArea {
	margin-top: 1em;
	font-size: 93%;
}

	ul.tab {
	}
	
		ul.tab li {
			float: left;
			margin-right: .5em;
		}
		
			ul.tab li a {
				border: solid #93af72 1px;
				border-bottom: none;
				padding: .3em .7em;
				display: block;
				color: #262626;
				background: #FFF;
				text-decoration: none;
			}
			
			ul.tab li a:hover,
			ul.tab li a.active {
				background: #f2f8ec;
			}
			
			ul.tab li a.active {
				color: #000;
				font-weight: bold;
			}
	
	dl {
		border: solid #93af72 1px;
		padding: 0 1em 1em;
	}
	
		dl dt {
			padding-top: 1em;
		}
			
		dl dd {
			padding-top: .5em;
		}
	
/* =========================================
*  jQuery selectable
* ========================================= */

input#callback_dammy {
	width: 9.5em;
}