@charset "utf-8";

@import url("share/default.css");
@import url("share/fonts.css");

/* Clearfix
=================================*/

.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from Mac IE \*/
.clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* Hide from Mac IE */

/* =========================================
*  COMMON
* ========================================= */

html {
	height: 100%;
}

body {
	padding: 1em;
	height: 100%;
}

h1 {
}
h1:first-letter {
}

	h1 a {
	}

a {
}

a:hover {
}

div.sctble_mat {
	font-size: 93%;
}

/* =========================================
*  FRAME
* ========================================= */

h2 {
	padding: 1em 0 .5em;
}

p#skin {
	margin-top: 1.5em;
}

dl {
    padding: 0 1em 1em;
}

    dl dt {
    	padding-top: 1.5em;
    }
    	
    dl dd {
    	padding-top: .5em;
    }
	
/* =========================================
*  jQuery selectable
* ========================================= */

input#callback_dammy {
	width: 9.5em;
}